<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/arayuzcss/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/arayuzcss/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/arayuzcss/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/arayuzcss/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                @{
                   Html.RenderAction("KatListe", "Kategori");
                }
            </div>
        </div>  ""

        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_Footer")
            </div>
        </div>
    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/arayuzcss/lib/easing/easing.min.js"></script>
    <script src="~/arayuzcss/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/arayuzcss/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/arayuzcss/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/arayuzcss/js/main.js"></script>

</body>
</html>
